<a href="https://colab.research.google.com/github/TateKessler/DS-1002/blob/main/HW7_3_24_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Collaborators: Tate Kessler, Nate Woods, Angus Leone

In [ ]:
import pandas as pd
df = pd.read_csv('/content/ride_sharing.csv')
print(df.head())

     duration  station_A_id  \
0  12 minutes            81
1  24 minutes             3
2   8 minutes            67
3   4 minutes            16
4  11 minutes            22

                                      station_A_name  station_B_id  \
0                                 Berry St at 4th St           323
1       Powell St BART Station (Market St at 4th St)           118
2  San Francisco Caltrain Station 2  (Townsend St...            23
3                            Steuart St at Market St            28
4                              Howard St at Beale St           350

                    station_B_name  bike_id  user_type  user_birth_year  \
0               Broadway at Kearny     5480          2             1959
1  Eureka Valley Recreation Center     5193          2             1965
2    The Embarcadero at Steuart St     3652          3             1993
3     The Embarcadero at Bryant St     1883          1             1979
4             8th St at Brannan St     4626          2             1994

  user_gender  tire_size
0        Male         26
1        Male         27
2        Male         29
3        Male         26
4        Male         27

In [ ]:
num_rows, num_cols = df.shape
print("Number of rows:", num_rows)
print("Number of columns:", num_cols)

Number of rows: 25760
Number of columns: 10

In [ ]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)
df = df[pd.to_numeric(df['duration'], errors='coerce').notna()]
df['duration'] = df['duration'].astype(int)

df['duration'] = pd.to_numeric(df['duration'], errors='coerce')
df['duration'] = df['duration'].astype('Int64')

In [ ]:
print(df.dtypes)

duration            Int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [ ]:
# Show the min and max values of ride durations (the shortest and longest rides)
min_duration = df['duration'].min()
max_duration = df['duration'].max()

print("Shortest ride duration:", min_duration)
print("Longest ride duration:", max_duration)

Shortest ride duration: 1
Longest ride duration: 1372

In [ ]:

df['duration'] = pd.to_numeric(df['duration'], errors='coerce')
# I cannot get it to work with .query
df_short_rides = df[df['duration'] <= 60]

# Display the first few rows of the new DataFrame to verify the operation
print(df_short_rides.head())

   duration  station_A_id                                     station_A_name  \
0        12            81                                 Berry St at 4th St
1        24             3       Powell St BART Station (Market St at 4th St)
2         8            67  San Francisco Caltrain Station 2  (Townsend St...
3         4            16                            Steuart St at Market St
4        11            22                              Howard St at Beale St

   station_B_id                   station_B_name  bike_id  user_type  \
0           323               Broadway at Kearny     5480          2
1           118  Eureka Valley Recreation Center     5193          2
2            23    The Embarcadero at Steuart St     3652          3
3            28     The Embarcadero at Bryant St     1883          1
4           350             8th St at Brannan St     4626          2

   user_birth_year user_gender  tire_size
0             1959        Male         26
1             1965        Male         27
2             1993        Male         29
3             1979        Male         26
4             1994        Male         27

In [ ]:
min_duration = df_short_rides['duration'].min()
max_duration = df_short_rides['duration'].max()

# Print the minimum and maximum durations
print("Minimum duration:", min_duration, "minutes")
print("Maximum duration:", max_duration, "minutes")

Minimum duration: 1 minutes
Maximum duration: 60 minutes

In [ ]:
# Filter the df_short_rides DataFrame to include only records with a tire_size of 26
df_short_rides_26 = df_short_rides[df_short_rides['tire_size'] == 26]

# Display the first few rows of the updated DataFrame to verify the filter
print(df_short_rides_26.head())

    duration  station_A_id                                     station_A_name  \
0         12            81                                 Berry St at 4th St
3          4            16                            Steuart St at Market St
6         16            67  San Francisco Caltrain Station 2  (Townsend St...
9          5            30     San Francisco Caltrain (Townsend St at 4th St)
12         7             3       Powell St BART Station (Market St at 4th St)

    station_B_id                station_B_name  bike_id  user_type  \
0            323            Broadway at Kearny     5480          2
3             28  The Embarcadero at Bryant St     1883          1
6            107         17th St at Dolores St     1035          2
9             62   Victoria Manalo Draves Park      333          1
12            27       Beale St at Harrison St     1863          3

    user_birth_year user_gender  tire_size
0              1959        Male         26
3              1979        Male         26
6              1981        Male         26
9              1994        Male         26
12             1998        Male         26

In [ ]:
# Filter the df_short_rides_26 DataFrame for FEMALE riders
female_riders_count = df_short_rides_26[df_short_rides_26['user_gender'] == 'FEMALE'].shape[0]

# Print the count of FEMALE riders
print(f"Count of FEMALE riders with 26-inch wheeled rental bikes for rentals of one hour or less: {female_riders_count}")

Count of FEMALE riders with 26-inch wheeled rental bikes for rentals of one hour or less: 0

In [ ]:
import pandas as pd

# Load the data into a DataFrame
df = pd.read_csv('more-messy-data.csv')

# Display the number of duplicate rows
duplicate_rows = df.duplicated().sum()
print(f'Number of duplicate rows: {duplicate_rows}')

Number of duplicate rows: 287

In [ ]:
# Remove duplicate rows
df_cleaned = df.drop_duplicates()

In [ ]:
# Ensure the columns are of a numeric type
df_cleaned[columns_to_update] = df_cleaned[columns_to_update].apply(pd.to_numeric, errors='coerce')

# Update NaN values in each column with the column mean, ensuring numerical operations
for column in columns_to_update:
    if df_cleaned[column].dtype.kind in 'biufc':  # Check if the column is numeric
        mean_value = df_cleaned[column].mean()  # Calculate the mean
        df_cleaned[column] = df_cleaned[column].fillna(mean_value)  # Fill NaNs with the mean

<ipython-input-45-273f95e57661>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[columns_to_update] = df_cleaned[columns_to_update].apply(pd.to_numeric, errors='coerce')
<ipython-input-45-273f95e57661>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[column] = df_cleaned[column].fillna(mean_value)  # Fill NaNs with the mean

In [ ]:
# Remove any rows with at least one NaN value
df_cleaned = df_cleaned.dropna()

In [ ]:
# Count the number of unique species
num_species = df_cleaned['species'].nunique()

print(f'There are {num_species} different species.')

There are 10 different species.

In [ ]:
# Define a mapping for species variations to the desired three categories
species_mapping = {
    'Setosa': 'Setosa',
    'setosa': 'Setosa',
    # Add other variations for Setosa if any

    'Versicolour': 'Versicolor',
    'versicolor': 'Versicolor',
    # Add other variations for Versicolor if any

    'Virginica': 'Virginica',
    'virginica': 'Virginica',
    # Add other variations for Virginica if any
}

df_cleaned['species'] = df_cleaned['species'].replace(species_mapping)

print("Unique species after cleanup:", df_cleaned['species'].unique())

Unique species after cleanup: ['Virginica' 'Setosa' 'Versicolor' 'setoso' 'Viginica' 'Virginia'
 'Setosan']